.card_popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	overflow-y: scroll;
	background-color: rgba(0,0,0,0.5);

	&::-webkit-scrollbar {
		width: 0.5rem;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #ff7676;
	}
	&::-webkit-scrollbar-track {
		background-color: #fff;
	}

	.detail {
		position: absolute;
		left: 10%;
		width: 80%;
		padding: 2rem;	
		border-radius: 0.75rem;
		background-color: #fff;
		color: #000;	
	}

	.stats {
		display: flex;
		align-items: center;
		justify-content: space-between;

		img {
			display: inline;
			width: 1.3rem;
			height: 1.3rem;
		}
	}

	.info {
		text-align: center;

		.platforms {
			display: flex;
			justify-content: space-evenly;

			img {
				width: 1.75rem;
				margin: 0 0.75rem;
			}
		}
	}

	.media {
		margin-top: 2rem;
	}

	.desc {
		margin: 2rem 0;
	}

	img {
		width: 100%;
	}
}